extends layout

block content
    .container
      // Introduction Row
      h1.my-4
        | About Us
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?
      // Team Members Row
      .row.our-team-region
        .col-lg-12
          h2.my-4 Our Team
        .col-lg-6.col-sm-6.text-center.mb-4
          img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
          h3
            | Hung Pham
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-lg-6.col-sm-6.text-center.mb-4
          img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
          h3
            | Thu Tran
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-lg-6.col-sm-6.text-center.mb-4
          img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
          h3
            | Phong Nguyen
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
        .col-lg-6.col-sm-6.text-center.mb-4
          img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
          h3
            | Tri Nguyen
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit
    // /.container
