extends primaryNavbar
block content
	if user
		script(type='text/javascript').
			var user = !{JSON.stringify(user)};
			var view = '#{view}';
	if scriptLink
		script(src='#{scriptLink}')

	#patient-page
		h1 Create new doctor
		#create_new_doctor_error
		#create_new_doctor_success
		form(onsubmit='console.log(event); return createNewDoctor(event)')
			.col-xs-6
				.row
					.col-xs-3
						| First name:
					.col-xs-8
						input(type='text', name='doctor_first_name', value='')
				.row
					.col-xs-3
						| Tel:
					.col-xs-8
						input(type='number', name='doctor_tel', value='')
				.row
					.col-xs-3
						| Username
					.col-xs-8
						input(type='text', name='doctor_username', value='')
				.row
					.col-xs-3
						| Address
					.col-xs-8
						input(type='text', name='doctor_address', value='')
				.row
					.col-xs-3
						| Hospital
					.col-xs-8
						input(type='text', name='doctor_hospital', value='')

			.col-xs-6
				.row
					.col-xs-3
						| Last name:
					.col-xs-8
						input(type='text', name='doctor_last_name', value='')
				.row
					.col-xs-3
						| Mail:
					.col-xs-8
						input(type='text', name='doctor_mail', value='')
				.row
					.col-xs-3
						| Password
					.col-xs-8
						input(type='text', name='doctor_password', value='')
				.row
					.col-xs-3
						| Speciality
					.col-xs-8
						input(type='text', name='doctor_speciality', value='')
				.row
					.col-xs-3
						| Notes
					.col-xs-8
						input(type='text', name='doctor_note', value='')
				.row
					.col-xs-12
						button.btn.btn-default(type='submit') Submit	
