extends layout

block content
    .container
        .row
            .col-md-6.col-md-offset-3
            .well.well-sm.contact-form
                form.form-horizontal(role='form', action='/contact/send', method='post')
                fieldset
                    legend.text-center Contact us
                    // Name input
                    .form-group
                    label.col-md-3.control-label(for='name') Name
                    .col-md-9
                        input#name.form-control(name='name', type='text', placeholder='Your name')
                    // Email input
                    .form-group
                    label.col-md-3.control-label(for='email') Your E-mail
                    .col-md-9
                        input#email.form-control(name='email', type='text', placeholder='Your email')
                    // Message body
                    .form-group
                    label.col-md-3.control-label(for='message') Your message
                    .col-md-9
                        textarea#message.form-control(name='message', placeholder='Please enter your message here...', rows='5')
                    // Form actions
                    .form-group
                    .col-md-12.text-right
                        input#submit.btn.btn-primary.btn-lg(name='submit',type='submit', value='Send')