
extends layout
block vars
  - var pageTitle = 'Medical Records'
block content
    ul.nav.nav-tabs
      li
        a(data-toggle='tab', href='#myguardian') My Guardian
      li
        a(data-toggle='tab', href='#mydoctor') My Doctor
      li
        a(data-toggle='tab', href='#resume') Resume
      li
        a(data-toggle='tab', href='#allergies') Allergies
      li
        a(data-toggle='tab', href='#immunizations') Immunizations
      li
        a(data-toggle='tab', href='#medication') Medication
      li
        a(data-toggle='tab', href='#procedures') Procedures
      li
        a(data-toggle='tab', href='#problemlist') Problem List
      li
        a(data-toggle='tab', href='#familyhistory') Family History
      li
        a(data-toggle='tab', href='#encounters') Encounters
      li
        a(data-toggle='tab', href='#planofcare') Plan of care
      li
        a(data-toggle='tab', href='#labresults') Lab Results
    .tab-content
      #myguardian.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Role
                        input#guardian_role.form-control
                      .form-group
                        label First Name
                        input#guardian_first_name.form-control
                      .form-group
                        label Last Name
                        input#guardian_last_name.form-control
                      .form-group
                        label Address
                        input#guardian_address.form-control
                      .form-group
                        label Telephone
                        input#guardian_telephone.form-control
                      .form-group
                        label Language
                        input#guardian_language.form-control
                      div#guardian_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitGuardian(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #mydoctor.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input#doctor_name.form-control
                      .form-group
                        label Address
                        input#doctor_address.form-control
                      .form-group
                        label Telephone
                        input#doctor_telephone.form-control
                      .form-group
                        label Speciality
                        input#doctor_speciality.form-control
                      div#doctor_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitDoctor(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #resume.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Currently
                        input#resume_currently.form-control
                      .form-group
                        label Soon
                        input#resume_soon.form-control
                      .form-group
                        label Blood Pressure
                        input#resume_blood_pressure.form-control
                      .form-group
                        label Size
                        input#resume_size.form-control
                      .form-group
                        label Height
                        input#resume_height.form-control
                      .form-group
                        label Life history
                        input#resume_life_history.form-control
                      div#resume_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitResume(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #allergies.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input#allergy_name.form-control
                      .form-group
                        label Reaction
                        input#allergy_reaction.form-control
                      .form-group
                        label Severity
                        input#allergy_severity.form-control
                      div#allergy_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitAllergy(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #immunizations.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input#immunization_name.form-control
                      .form-group
                        label Date
                        input#immunization_date.form-control
                      .form-group
                        label Type
                        input#immunization_type.form-control
                      .form-group
                        label Dose
                        input#immunization_dose.form-control
                      .form-group
                        label Instructions
                        input#immunization_instructions.form-control
                      div#immunization_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitImmunization(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #medication.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input#medication_name.form-control
                      .form-group
                        label Type
                        input#medication_type.form-control
                      .form-group
                        label Date
                        input#medication_date.form-control
                      .form-group
                        label Dose
                        input#medication_dose.form-control
                      .form-group
                        label Rate
                        input#medication_rate.form-control
                      .form-group
                        label Instructions
                        input#medication_instructions.form-control
                      .form-group
                        label Prescriber
                        input#medication_prescriber.form-control
                      div#medication_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitMedication(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #procedures.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Procedure
                        input#procedure_name.form-control
                      .form-group
                        label Date
                        input#procedure_date.form-control
                      .form-group
                        label Provider
                        input#procedure_provider.form-control
                      .form-group
                        label Address
                        input#procedure_address.form-control
                      div#procedure_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitProcedure(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #problemlist.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Observation
                        input#problem_observation.form-control
                      .form-group
                        label Status
                        input#problem_status.form-control
                      .form-group
                        label Date
                        input#problem_date.form-control
                      .form-group
                        label Comments
                        input#problem_comments.form-control
                      div#problem_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitProblem(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #familyhistory.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Role
                        input#familyhistory_role.form-control
                      .form-group
                        label Type
                        input#familyhistory_type.form-control
                      .form-group
                        label Date
                        input#familyhistory_date.form-control
                      .form-group
                        label Informations
                        input#familyhistory_informations.form-control
                      div#familyhistory_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitFamilyHistory(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #encounters.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Encounter
                        input#encounter_name.form-control
                      .form-group
                        label Provider
                        input#encounter_provider.form-control
                      .form-group
                        label Location
                        input#encounter_location.form-control
                      .form-group
                        label Date
                        input#encounter_date.form-control
                      div#encounter_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitEncounter(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #planofcare.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Planned Activity
                        input#planofcare_activity.form-control
                      .form-group
                        label Planned Date
                        input#planofcare_date.form-control
                      .form-group
                        label Instructions
                        input#planofcare_instructions.form-control
                      div#planofcare_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitPlanOfCare(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #labresults.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Details Results
                        input#labresult_detail_results.form-control
                      div#labresult_error.alert.alert-danger(style="display:none")
                      button.btn.btn-default(type='submit', onclick='submitLabResult(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button