
extends layout
block vars
  - var pageTitle = 'Medical Records'
block content
    ul.nav.nav-tabs
      li.active
        a(data-toggle='tab', href='#myinfo') My Information
      li
        a(data-toggle='tab', href='#myguardian') My Guardian
      li
        a(data-toggle='tab', href='#mydoctor') My Doctor
      li
        a(data-toggle='tab', href='#resume') Resume
      li
        a(data-toggle='tab', href='#allergies') Allergies
      li
        a(data-toggle='tab', href='#immunizations') Immunizations
      li
        a(data-toggle='tab', href='#medication') Medication
      li
        a(data-toggle='tab', href='#procedures') Procedures
      li
        a(data-toggle='tab', href='#problemlist') Problem List
      li
        a(data-toggle='tab', href='#familyhistory') Family History
      li
        a(data-toggle='tab', href='#encounters') Encounters
      li
        a(data-toggle='tab', href='#planofcare') Plan of care
      li
        a(data-toggle='tab', href='#labresults') Lab Results
    .tab-content
     

      #myinfo.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
               // | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label First Name
                        input.form-control
                      .form-group
                        label Last Name
                        input.form-control
                      .form-group
                        label Gender
                        select.form-control
                          option Male
                          option Female
                          option Uknown destination
                      .form-group
                        label Marital Status
                        select.form-control
                          option Married
                          option Divorced
                          option Single dad
                          option Black widow
                          option Forever alone
                      .form-group
                        label Address
                        input.form-control
                      .form-group
                        label Telephone
                        input.form-control
                      .form-group
                        label Birthday
                        input.form-control
                      .form-group
                        label Language
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
       #myguardian.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Role
                        input.form-control
                      .form-group
                        label First Name
                        input.form-control
                      .form-group
                        label Last Name
                        input.form-control
                      .form-group
                        label Address
                        input.form-control
                      .form-group
                        label Telephone
                        input.form-control
                      .form-group
                        label Language
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
       #mydoctor.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input.form-control
                      .form-group
                        label Address
                        input.form-control
                      .form-group
                        label Telephone
                        input.form-control
                      .form-group
                        label Speciality
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #resume.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Currently
                        input.form-control
                      .form-group
                        label Soon
                        input.form-control
                      .form-group
                        label Blood Pressure
                        input.form-control
                      .form-group
                        label Size
                        input.form-control
                      .form-group
                        label Height
                        input.form-control
                      .form-group
                        label Life history
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #allergies.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input.form-control
                      .form-group
                        label Reaction
                        input.form-control
                      .form-group
                        label Severity
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #immunizations.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input.form-control
                      .form-group
                        label Date
                        input.form-control
                      .form-group
                        label Type
                        input.form-control
                      .form-group
                        label Dose
                        input.form-control
                      .form-group
                        label Instructions
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #medication.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Name
                        input.form-control
                      .form-group
                        label Type
                        input.form-control
                      .form-group
                        label Date
                        input.form-control
                      .form-group
                        label Dose
                        input.form-control
                      .form-group
                        label Rate
                        input.form-control
                      .form-group
                        label Instructions
                        input.form-control
                      .form-group
                        label Prescriber
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #procedures.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Procedure
                        input.form-control
                      .form-group
                        label Date
                        input.form-control
                      .form-group
                        label Provider
                        input.form-control
                      .form-group
                        label Address
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #problemlist.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Observation
                        input.form-control
                      .form-group
                        label Status
                        input.form-control
                      .form-group
                        label Date
                        input.form-control
                      .form-group
                        label Comments
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #familyhistory.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Role
                        input.form-control
                      .form-group
                        label Type
                        input.form-control
                      .form-group
                        label Date
                        input.form-control
                      .form-group
                        label Informations
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #encounters.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Encounter
                        input.form-control
                      .form-group
                        label Provider
                        input.form-control
                      .form-group
                        label Location
                        input.form-control
                      .form-group
                        label Date
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button
      #planofcare.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Planned Activity
                        input.form-control
                      .form-group
                        label Planned Date
                        input.form-control
                      .form-group
                        label Instructions
                        input.form-control
                    button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                    button.btn.btn-default(type='reset') Reset Button
     #labresults.tab-pane.fade
        br
        .row
          .col-lg-12
            .panel.panel-info
              //.panel-heading
              //  | Basic Form Elements
              .panel-body
                .row
                  .col-lg-6
                    form(role='form', lpformnum='1', _lpchecked='1')
                      .form-group
                        label Details Results
                        input.form-control
                      button.btn.btn-default(type='submit', onclick='fireInTheHole(event)') Submit Button
                      button.btn.btn-default(type='reset') Reset Button