extends primaryNavbar
block content
	if user && user.role=='doctor'
		.div#doctor_overview
			.row
				a.col-xs-4.primary-button(href="/medicalrecords") 
					span Medical Records
				a.col-xs-4.primary-button(href="/medicaladvises") 
					span Medical Advices
				a.col-xs-4.primary-button(href="/patient")  
					span Patients List
	else
		.div#patient_overview
			a.col-xs-4.primary-button(href="/medicalrecords") 
				span Medical Records
			a.col-xs-4.primary-button(href="/medicaladvises") 
				span Medical Advices
			a.col-xs-4.primary-button(href="/patient")  
				span Personal Profiles