extends primaryNavbar
block content
	if user && user.role=='doctor'
		.div#doctor_overview
			.row
				a.col-xs-4.primary-button(href="/medicalrecords") 
					span Medical Records
				a.col-xs-4.primary-button(href="/medicaladvises") 
					span Medical Advices
				a.col-xs-4.primary-button(href="/patient_medicalrecords")  
					span Patients List
			.row
				a.col-xs-4.primary-button(href="/medicalrecords/create") 
					span Create Medical Record
				a.col-xs-4.primary-button(href="/patient_medicaladvises") 
					span Create Medical Advice
				a.col-xs-4.primary-button(href="/patient/create")  
					span Create New Patient
	else
		.div#patient_overview
			a.col-xs-4.primary-button(href="/medicalrecords") 
				span Medical Records
			a.col-xs-4.primary-button(href="/medicaladvises") 
				span Medical Advices
			a.col-xs-4.primary-button(href="/patient_medicalrecords")  
				span Personal Profiles