extends primaryNavbar
block content
	if user
		script(type='text/javascript').
			var user = !{JSON.stringify(user)};
			var view = '#{view}';
	if scriptLink
		script(src='#{scriptLink}')

	if user && user.role=='doctor'
		ul.nav.nav-tabs#patient_navbar
			li
				a(href='/') Overview
			li
				a(href='/medicalrecords') Medical Records
			li
				a(href='/medicaladvises') Medical Advises
			li#navbar_patient
				a(href='/patient') Patient List
	else
		ul.nav.nav-tabs#patient_navbar
			li
				a(href='/') Overview
			li#navbar_medicalrecords
				a(href='/medicalrecords') Medical Records
			li
				a(href='/medicaladvises') Medical Advises
			li
				a(href='#menu3') Personal Profile
	#patient-page
		if view && view=='record_detail'
			ul.nav.nav-tabs.sub-nav
				li.active
					a(data-toggle='tab', href='#allergies') Allergies
				li
					a(data-toggle='tab', href='#immunizations') Immunizations
				li
					a(data-toggle='tab', href='#procedures') Procedures
				li
					a(data-toggle='tab', href='#lab_result') Lab result
				li
					a(data-toggle='tab', href='#problem_list') Problem list
			.tab-content
				#allergies.tab-pane.fade.in.active
					#allergies-list.col-xs-6
					#allergie-form.col-xs-6
						form(action='#')
							.row
								.col-xs-3
									| Name:
								.col-xs-9
									input(type='text', name='new_allergie_name', value='')
							.row
								.col-xs-3
									| Reaction:
								.col-xs-9
									input(type='text', name='new_allergie_reaction', value='')
							.row
								.col-xs-3
									| Severity
								.col-xs-9
									select(name='new_allergie_severity')
							.row
								.col-xs-9.col-xs-offset-3
									input(type='submit', value='Add new allergie' onclick='return addNewAllergie()')
							.row
								.col-xs-12
									.add-allergie-error
				#immunizations.tab-pane.fade
					#immunizations-list.col-xs-6
					#immunization-form.col-xs-6
						form(action='#')
							.row
								.col-xs-3
									| Name:
								.col-xs-9
									input(type='text', name='new_immunization_name', value='')
							.row
								.col-xs-3
									| Date:
								.col-xs-9
									input(type='text', name='new_immunization_date', value='')
							.row
								.col-xs-3
									| Type
								.col-xs-9
									input(type='text', name='new_immunization_type', value='')
							.row
								.col-xs-3
									| Dose
								.col-xs-9
									input(type='text', name='new_immunization_dose', value='')
							.row
								.col-xs-3
									| Instructions
								.col-xs-9
									input(type='text', name='new_immunization_instructions', value='')
							.row
								.col-xs-9.col-xs-offset-3
									input(type='submit', value='Add new immunization' onclick='return addNewImmunization()')
							.row
								.col-xs-12
									.add-immunization-error
				#procedures.tab-pane.fade
					#procedures-list.col-xs-6
					#procedure-form.col-xs-6
						form(action='#')
							.row
								.col-xs-3
									| Procedure:
								.col-xs-9
									input(type='text', name='new_procedure_name', value='')
							.row
								.col-xs-3
									| Date:
								.col-xs-9
									input(type='text', name='new_procedure_date', value='')
							.row
								.col-xs-3
									| Provider
								.col-xs-9
									input(type='text', name='new_procedure_provider', value='')
							.row
								.col-xs-3
									| Address
								.col-xs-9
									input(type='text', name='new_procedure_address', value='')
							.row
								.col-xs-9.col-xs-offset-3
									input(type='submit', value='Add new procedure' onclick='return addNewProcedure()')
							.row
								.col-xs-12
									.add-procedure-error
				#lab_result.tab-pane.fade
				#problem_list.tab-pane.fade
					#problems-list.col-xs-6
					#problem-form.col-xs-6
						form(action='#')
							.row
								.col-xs-3
									| Observation:
								.col-xs-9
									input(type='text', name='new_problem_observation', value='')
							.row
								.col-xs-3
									| Status:
								.col-xs-9
									input(type='text', name='new_problem_status', value='')
							.row
								.col-xs-3
									| Date
								.col-xs-9
									input(type='text', name='new_problem_date', value='')
							.row
								.col-xs-3
									| Comments
								.col-xs-9
									input(type='text', name='new_problem_comments', value='')
							.row
								.col-xs-9.col-xs-offset-3
									input(type='submit', value='Add new problem' onclick='return addNewProblem()')
							.row
								.col-xs-12
									.add-problem-error
		if view && view=='records_list'
			.row
				a.btn(href='/medicalrecords/create')
					| Create new record
			#medical-records-list
		if view && view=='create_patient'
			h1 Create new patient
			#create_new_patient_error
			#create_new_patient_success
			form(onsubmit='console.log(event); return createNewPatient(event)')
				.col-xs-6
					.row
						.col-xs-3
							| First name:
						.col-xs-8
							input(type='text', name='patient_fist_name', value='')
					.row
						.col-xs-3
							| Tel:
						.col-xs-8
							input(type='number', name='patient_tel', value='')
					.row
						.col-xs-3
							| Username
						.col-xs-8
							input(type='text', name='patient_username', value='')
					.row
						.col-xs-3
							| Address
						.col-xs-8
							input(type='text', name='patient_address', value='')
					.row
						.col-xs-3
							| Insurance
						.col-xs-8
							input(type='text', name='patient_insurance', value='')

				.col-xs-6
					.row
						.col-xs-3
							| Last name:
						.col-xs-8
							input(type='text', name='patient_last_name', value='')
					.row
						.col-xs-3
							| Mail:
						.col-xs-8
							input(type='text', name='patient_mail', value='')
					.row
						.col-xs-3
							| Password
						.col-xs-8
							input(type='text', name='patient_password', value='')
					.row
						.col-xs-3
							| In case of emergency
						.col-xs-8
							input(type='text', name='patient_emergency', value='')
					.row
						.col-xs-3
							| Notes
						.col-xs-8
							input(type='text', name='patient_note', value='')
					.row
						.col-xs-12
							button.btn.btn-default(type='submit') Submit