extends primaryNavbar
block content
	a.col-xs-4.primary-button(href="/patient_medicalrecords") 
		span Medical Records
	a.col-xs-4.primary-button(href="/patient_medicaladvises") 
		span Medical Advices
	a.col-xs-4.primary-button(href="/patient_medicalrecords")  
		span Personal Profiles