extends primaryNavbar
block content
	script(src='javascripts/routes/patient_medicaladvises.js')
	ul.nav.nav-tabs#patient_navbar
		li
			a(href='/') Overview
		li
			a(href='/patient_medicalrecords') Medical Records
		li#navbar_medicaladvises
			a(href='/patient_medicaladvises') Medical Advises
		li
			a(href='#menu3') Personal Profile
	#medical-advises